<input (keyup)="applyFilter($event)" placeholder="Ex. batman" />
<mat-table
  *ngIf="showTable"
  mat-table
  [dataSource]="dataSource"
  class="mat-elevation-z8"
  matSort
>
  <mat-header-row
    *matHeaderRowDef="displayedColumns; sticky: true"
  ></mat-header-row>
  <mat-row
    *matRowDef="let row; columns: displayedColumns"
    (click)="onRowClick(row)"
  ></mat-row>

  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.id }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.name }} </mat-cell>
  </ng-container>

  <mat-paginator
    [length]="7"
    [pageSize]="2"
    [pageSizeOptions]="[2, 3]"
    aria-label="Select page of heroes"
  ></mat-paginator>
</mat-table>
